Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, toml-fmt, typos, test, mcp-biome, mcp-test, mcp-tsc

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all-targets --all-features

toml-fmt:
  run: taplo format {staged_files}
  stage_fixed: true

typos:
  run: typos {staged_files}

test:
  run: cargo test

mcp-biome:
  run: biome check --write

mcp-test:
  run: pnpm run test

mcp-tsc:
  run: tsc --noEmit

fix: Make paths relative in diff preview output
  renamify-core/src/preview.rs
Due: fmt, clippy, typos, test

fix: Update tests to expect forward slashes in diff output
  renamify-cli/tests/cli_tests.rs
Due: fmt, clippy, typos, test

fix: Handle Windows path separators and prefixes in tests
  renamify-core/src/rename.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: Correct Windows long path prefix test
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: Rewrite Windows long path test to be more realistic
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: Normalize paths in rnignore tests for Windows compatibility
  renamify-core/tests/rnignore_test.rs
Due: fmt, clippy, typos, test

make sccache optional
  scripts/e2e-test.sh
Due: none

don't crash on failure
  scripts/e2e-test.sh
Due: none

preserve trailing whitespace in diffs
  renamify-core/src/scanner.rs
  renamify-core/tests/trailing_whitespace_test.rs
Due: fmt, clippy, typos, test

ripgrep required
  scripts/e2e-test.sh
Due: none

Fix line ending preservation in patch headers for Windows compatibility
  renamify-core/src/apply.rs
Due: fmt, clippy, typos, test

Add Windows-specific test for CRLF line endings in patches
  renamify-core/Cargo.toml
  renamify-core/src/undo.rs
  renamify-core/tests/windows_line_endings_test.rs
Due: fmt, clippy, toml-fmt, typos, test

Fix patch generation to use consistent CRLF line endings on Windows
  renamify-core/src/apply.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Force consistent CRLF normalization for all patches on Windows
  renamify-core/src/apply.rs
Due: fmt, clippy, typos, test

Add debug output to see patch content on Windows
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Better debug output for patch content
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Normalize patches back to LF for diffy parsing on Windows
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Normalize both patch and file content to LF for diffy on Windows
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Convert result back to CRLF after applying patch on Windows
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

Fix test assertions to handle platform-specific line endings
  renamify-cli/tests/train_case_e2e_test.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: Handle platform-specific line endings in test assertions
  renamify-core/tests/apply_undo_integration_test.rs
Due: fmt, clippy, typos, test

fix: Handle Windows line endings in trailing_whitespace_test
  renamify-core/tests/trailing_whitespace_test.rs
Due: fmt, clippy, typos, test

set git user email and name if not already set
  scripts/e2e-test.sh
Due: none

feat: Add ShellCheck linting for shell scripts
  .github/workflows/shellcheck.yml
  dev-setup.sh
  docs/public/install.sh
  lefthook.yml
  scripts/build-release.sh
Due: typos

feat: Add shellcheck.sh script for checking all shell scripts
  .github/workflows/shellcheck.yml
  scripts/dev-setup.sh
  scripts/install.sh
  scripts/shellcheck.sh
Due: typos

fix: Improve GitHub Actions orchestration for docs deployment
  .github/wait-for-checks.js
  .github/workflows/docs.yml
  docs/public/install.sh
Due: typos

docs: Update README with current project status
  README.md
Due: typos

feat: Add --exclude-matching-lines option to filter matches by regex pattern
  README.md
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/rename.mdx
  docs/src/content/docs/why-not-search-and-replace.mdx
  renamify-cli/src/main.rs
  renamify-cli/src/plan.rs
  renamify-cli/src/rename.rs
  renamify-cli/tests/cli_tests.rs
  renamify-cli/tests/exclude_matching_lines_cli_test.rs
  renamify-cli/tests/train_case_e2e_test.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/scanner.rs
  renamify-core/tests/acronym_cli_test.rs
  renamify-core/tests/acronym_variant_test.rs
  renamify-core/tests/coercion_separator_test.rs
  renamify-core/tests/coercion_tests.rs
  renamify-core/tests/compound_position_test.rs
  renamify-core/tests/compound_word_test.rs
  renamify-core/tests/diff_rendering_test.rs
  renamify-core/tests/dot_directory_test.rs
  renamify-core/tests/exclude_matching_lines_test.rs
  renamify-core/tests/hyphenated_capitalized_test.rs
  renamify-core/tests/mixed_style_test.rs
  renamify-core/tests/multiple_matches_per_line_test.rs
  renamify-core/tests/tokenization_edge_cases_test.rs
  renamify-core/tests/train_case_apply_test.rs
  renamify-core/tests/train_case_literals_test.rs
Due: fmt, clippy, typos, test

docs: Add --exclude-matching-lines feature to filtering documentation
  docs/src/content/docs/features/filtering.mdx
Due: none

feat(docs): Add Renamify logo to documentation header
  docs/astro.config.mjs
  docs/src/assets/logo-large.svg
  docs/src/assets/logo.svg
Due: none

feat(docs): Style logo and title with proper colors
  README.md
  docs/astro.config.mjs
  docs/src/styles/custom.css
Due: typos

added vscode / cursor extension
  .github/wait-for-checks.js
  .github/workflows/vscode.yml
  .taskmaster/docs/vscode-ext-prd.txt
  README.md
  docs/src/assets/logo-white.svg
  docs/src/content/docs/index.mdx
  lefthook.yml
  renamify-cli/src/main.rs
  renamify-core/src/case_model.rs
  renamify-vscode/.gitignore
  renamify-vscode/.vscode-test.mjs
  renamify-vscode/.vscodeignore
  renamify-vscode/CLAUDE.md
  renamify-vscode/LICENSE
  renamify-vscode/README.md
  renamify-vscode/biome.jsonc
  renamify-vscode/lefthook.yml
  renamify-vscode/media/main.js
  renamify-vscode/media/style.css
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
  renamify-vscode/resources/renamify-icon.svg
  renamify-vscode/src/cliService.ts
  renamify-vscode/src/commands.ts
  renamify-vscode/src/extension.ts
  renamify-vscode/src/test/integration/integration.test.ts
  renamify-vscode/src/test/runTest.ts
  renamify-vscode/src/test/suite/cliService.test.ts
  renamify-vscode/src/test/suite/commands.test.ts
  renamify-vscode/src/test/suite/extension.test.ts
  renamify-vscode/src/test/suite/index.ts
  renamify-vscode/src/test/suite/integration.test.ts
  renamify-vscode/src/types.ts
  renamify-vscode/src/webviewProvider.ts
  renamify-vscode/tsconfig.json
Due: fmt, clippy, typos, test

updates for CI naming in badges
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/mcp.yml
  .github/workflows/vscode.yml
  README.md
Due: typos

fix vscode ci
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
Due: typos

use absmiddle for logo in readme
  README.md
Due: typos

no need to test vscode on node 18
  .github/workflows/vscode.yml
Due: typos

use wordmark logos
  README.md
  docs/src/assets/logo-white-wordmark.svg
  docs/src/assets/logo-wordmark.svg
Due: typos

feat: Add parameterized check filtering to wait-for-checks.js
  .github/wait-for-checks.js
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/vscode.yml
Due: typos

fix: Docs workflow should wait for all CI checks
  .github/workflows/docs.yml
Due: typos

update readme
  README.md
Due: typos

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  toml-fmt: any of: *.toml
  typos: any of: *.{rs,md,txt,toml,yml,yaml}
  test: any of: *.rs
  mcp-biome: any of: *.{ts,js,json} and ^renamify\-mcp/
  mcp-test: any of: *.ts and ^renamify\-mcp/
  mcp-tsc: any of: *.ts and ^renamify\-mcp/
