Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, toml-fmt, typos, test, mcp-biome, mcp-test, mcp-tsc, vscode-biome, vscode-tsc, shellcheck

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all-targets --all-features

toml-fmt:
  run: taplo format {staged_files}
  stage_fixed: true

typos:
  run: typos {staged_files}

test:
  run: cargo test

mcp-biome:
  run: biome check --write

mcp-test:
  run: pnpm run test

mcp-tsc:
  run: tsc --noEmit

vscode-biome:
  run: biome check --write

vscode-tsc:
  run: pnpm run compile

shellcheck:
  run: shellcheck {staged_files}

fix: VS Code workflow binary path issues
  .github/workflows/ci.yml
  .github/workflows/vscode.yml
Due: typos

update order of features
  docs/src/content/docs/index.mdx
Due: none

fix: Use parent directory for renamify binary downloads in VS Code workflow
  .github/workflows/vscode.yml
Due: typos

feat: Add Windows builds to release workflow
  .github/workflows/release.yml
Due: typos

trim trailing whitespace
  README.md
  lefthook.yml
Due: typos

line breaks
  README.md
Due: typos

fix: Use absolute workspace path for VS Code binary downloads
  .github/workflows/vscode.yml
Due: typos

docs: Show complete list of supported case styles instead of 'and more'
  README.md
Due: typos

another readme update
  README.md
Due: typos

add trailing newlines
  .taskmaster/config.json
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  docs/package.json
  scripts/check-whitespace.sh
  scripts/format.sh
  scripts/is-text-file.sh
Due: shellcheck

remove unsupported autocrlf arg from actions/checkout@v4
  .github/workflows/mcp.yml
  .github/workflows/vscode.yml
Due: typos

update READMEs
  README.md
  renamify-vscode/README.md
Due: typos

fix: Multiple CI and formatting improvements
  .github/workflows/vscode.yml
Due: typos

update README
  README.md
Due: typos

fix: Windows CI path handling for VS Code extension
  .github/workflows/vscode.yml
Due: typos

rename before/after to content/replace for consistent json preview format
  .taskmaster/tasks/tasks.json
  renamify-cli/src/main.rs
  renamify-cli/tests/exclude_matching_lines_cli_test.rs
  renamify-core/src/apply.rs
  renamify-core/src/compound_scanner.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/preview.rs
  renamify-core/src/scanner.rs
  renamify-core/src/undo.rs
  renamify-core/tests/acronym_cli_test.rs
  renamify-core/tests/acronym_variant_test.rs
  renamify-core/tests/apply_tests.rs
  renamify-core/tests/apply_undo_integration_test.rs
  renamify-core/tests/coercion_separator_test.rs
  renamify-core/tests/coercion_tests.rs
  renamify-core/tests/compound_position_test.rs
  renamify-core/tests/compound_word_test.rs
  renamify-core/tests/dot_directory_test.rs
  renamify-core/tests/exclude_matching_lines_test.rs
  renamify-core/tests/hyphenated_capitalized_test.rs
  renamify-core/tests/mixed_style_test.rs
  renamify-core/tests/multiple_matches_per_line_test.rs
  renamify-core/tests/preview_snapshots.rs
  renamify-core/tests/replacement_edge_cases_test.rs
  renamify-core/tests/snapshots/preview_snapshots__empty_plan_table_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__json_format_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__root_directory_rename_handling.snap
  renamify-core/tests/snapshots/preview_snapshots__summary_format_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__table_format_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__table_format_with_color_snapshot.snap
  renamify-core/tests/tokenization_edge_cases_test.rs
  renamify-core/tests/train_case_apply_test.rs
  renamify-core/tests/train_case_literals_test.rs
  renamify-vscode/media/style.css
  renamify-vscode/src/cliService.ts
Due: fmt, clippy, typos, test, vscode-biome, vscode-tsc

rename 'renames' to 'paths' for consistent json previews
  renamify-cli/tests/cli_tests.rs
  renamify-core/src/apply.rs
  renamify-core/src/history.rs
  renamify-core/src/operations/apply.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/preview.rs
  renamify-core/src/rename.rs
  renamify-core/src/scanner.rs
  renamify-core/src/undo.rs
  renamify-core/tests/apply_tests.rs
  renamify-core/tests/apply_undo_integration_test.rs
  renamify-core/tests/coercion_tests.rs
  renamify-core/tests/gitignore_test.rs
  renamify-core/tests/preview_snapshots.rs
  renamify-core/tests/snapshots/preview_snapshots__json_format_snapshot.snap
Due: fmt, clippy, typos, test

Lots of renaming and added a search command
  lefthook.yml
  renamify-cli/src/main.rs
  renamify-cli/src/plan.rs
  renamify-cli/src/rename.rs
  renamify-cli/tests/cli_tests.rs
  renamify-core/src/apply.rs
  renamify-core/src/case_model.rs
  renamify-core/src/compound_matcher.rs
  renamify-core/src/compound_scanner.rs
  renamify-core/src/history.rs
  renamify-core/src/id_resolver.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/preview.rs
  renamify-core/src/preview/diff.rs
  renamify-core/src/preview/json.rs
  renamify-core/src/preview/matches.rs
  renamify-core/src/preview/mod.rs
  renamify-core/src/preview/summary.rs
  renamify-core/src/preview/table.rs
  renamify-core/src/scanner.rs
  renamify-core/src/undo.rs
  renamify-core/tests/apply_tests.rs
  renamify-core/tests/apply_undo_integration_test.rs
  renamify-core/tests/preview_snapshots.rs
  renamify-core/tests/snapshots/preview_snapshots__diff_format_with_color_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__json_format_snapshot.snap
  renamify-core/tests/snapshots/preview_snapshots__summary_format_snapshot.snap
  renamify-mcp/src/index.ts
  renamify-mcp/src/index.unit.test.ts
  renamify-mcp/src/renamify-service.test.ts
  renamify-mcp/src/renamify-service.ts
  renamify-mcp/src/tools.test.ts
  renamify-mcp/src/tools.ts
  renamify-vscode/src/test/suite/cliService.test.ts
  renamify-vscode/src/test/suite/commands.test.ts
Due: fmt, clippy, typos, test, mcp-biome, mcp-test, mcp-tsc, vscode-biome, vscode-tsc

no pnpm run
  .github/workflows/vscode.yml
  lefthook.yml
  renamify-vscode/lefthook.yml
Due: typos

tons of improvements to vscode extension
  renamify-mcp/src/renamify-service.error.test.ts
  renamify-mcp/src/renamify-service.test.ts
  renamify-vscode/biome.jsonc
  renamify-vscode/media/main.js
  renamify-vscode/media/style.css
  renamify-vscode/package.json
  renamify-vscode/src/cliService.ts
  renamify-vscode/src/commands.ts
  renamify-vscode/src/test/suite/cliService.test.ts
  renamify-vscode/src/test/suite/commands.test.ts
  renamify-vscode/src/types.ts
  renamify-vscode/src/webviewProvider.ts
Due: mcp-biome, mcp-test, mcp-tsc, vscode-biome, vscode-tsc

big refactor - operations now return structured data that can be formatted either as summary text or JSON for machine readable output (with --output json)
  lefthook.yml
  renamify-cli/src/apply.rs
  renamify-cli/src/history.rs
  renamify-cli/src/main.rs
  renamify-cli/src/redo.rs
  renamify-cli/src/rename.rs
  renamify-cli/src/search.rs
  renamify-cli/src/status.rs
  renamify-cli/src/undo.rs
  renamify-cli/tests/cli_tests.rs
  renamify-cli/tests/exclude_matching_lines_cli_test.rs
  renamify-cli/tests/output_format_test.rs
  renamify-core/src/history.rs
  renamify-core/src/lib.rs
  renamify-core/src/operations/apply.rs
  renamify-core/src/operations/history.rs
  renamify-core/src/operations/mod.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/operations/status.rs
  renamify-core/src/operations/undo.rs
  renamify-core/src/output.rs
  renamify-vscode/extension/src/cliService.ts
  renamify-vscode/extension/src/test/integration/integration.test.ts
  renamify-vscode/extension/src/test/suite/cliService.test.ts
  renamify-vscode/extension/src/test/suite/extension.test.ts
  renamify-vscode/extension/src/test/suite/integration.test.ts
  renamify-vscode/extension/src/types.ts
  renamify-vscode/extension/src/webviewProvider.ts
  renamify-vscode/media/bundle.js
  renamify-vscode/media/style.css
  renamify-vscode/media/webview.js
  renamify-vscode/media/webview.js.map
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
  renamify-vscode/scripts/bundle-webview.sh
  renamify-vscode/webview/src/webview.ts
Due: fmt, clippy, typos, test, vscode-biome, vscode-tsc, shellcheck

more refactoring for --output json
  renamify-cli/src/main.rs
  renamify-cli/src/plan.rs
  renamify-cli/src/rename.rs
  renamify-cli/src/search.rs
  renamify-cli/tests/cli_tests.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/output.rs
  renamify-core/src/preview/json.rs
  renamify-core/src/preview/mod.rs
  renamify-core/tests/preview_snapshots.rs
  renamify-core/tests/snapshots/preview_snapshots__json_format_snapshot.snap
Due: fmt, clippy, typos, test

more updates
  CLAUDE.md
  renamify-mcp/src/index.ts
  renamify-mcp/src/renamify-service.ts
  renamify-vscode/extension/src/cliService.ts
  renamify-vscode/extension/src/test/suite/cliService.test.ts
Due: typos, mcp-biome, mcp-test, mcp-tsc, vscode-biome, vscode-tsc

more fixes for vscode ext
  renamify-mcp/README.md
  renamify-mcp/src/index.ts
  renamify-vscode/.gitignore
  renamify-vscode/extension/src/cliService.ts
  renamify-vscode/extension/src/test/suite/cliService.test.ts
  renamify-vscode/media/bundle.js
  renamify-vscode/media/webview.js
  renamify-vscode/media/webview.js.map
  renamify-vscode/package.json
  scripts/run-all-tests.sh
Due: typos, mcp-biome, mcp-test, mcp-tsc, vscode-biome, vscode-tsc, shellcheck

fix e2e test - crash if biome is unavailable for formatting
  .github/workflows/e2e.yml
  renamify-core/convert-ts-bindings-to-ambient.sh
  renamify-core/pnpm-workspace.yaml
  renamify-vscode/pnpm-workspace.yaml
  scripts/e2e-test.sh
Due: typos, shellcheck

add missing packages to pnpm workspace
  renamify-core/pnpm-workspace.yaml
  renamify-vscode/pnpm-workspace.yaml
Due: typos

more ci fixes
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  renamify-core/tests/export_bindings.rs
Due: fmt, clippy, typos, test

pnpm before node
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/mcp.yml
  .github/workflows/release.yml
  .github/workflows/vscode.yml
Due: typos

fix clippy warnings
  .github/workflows/ci.yml
  renamify-cli/src/apply.rs
  renamify-core/src/operations/apply.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/operations/status.rs
  renamify-core/src/output.rs
  renamify-core/src/preview/diff.rs
  renamify-core/src/preview/matches.rs
  renamify-core/src/scanner.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix all clippy warnings, treat all warnings as errors
  .cargo/config.toml
  renamify-cli/tests/cli_tests.rs
  renamify-cli/tests/exclude_matching_lines_cli_test.rs
  renamify-core/src/operations/apply.rs
  renamify-core/src/output.rs
  renamify-core/src/preview/diff.rs
  renamify-core/tests/exclude_matching_lines_test.rs
  renamify-core/tests/trailing_whitespace_test.rs
Due: fmt, clippy, toml-fmt, typos, test

show nice error page for vs code extension if cli is not installed
  renamify-cli/src/main.rs
  renamify-cli/tests/cli_tests.rs
  renamify-core/src/lib.rs
  renamify-core/src/output.rs
  renamify-vscode/extension/src/cliService.ts
  renamify-vscode/extension/src/types.ts
  renamify-vscode/extension/src/webviewProvider.ts
Due: fmt, clippy, typos, test, vscode-biome, vscode-tsc

fixed csp issues in vscode
  renamify-vscode/extension/src/webviewProvider.ts
Due: vscode-biome, vscode-tsc

use fantasticon to generate woff2 icon font for activity bar icon so it dims/highlights properly
  renamify-vscode/.fantasticonrc.js
  renamify-vscode/biome.jsonc
  renamify-vscode/icons-src/renamify.svg
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
  renamify-vscode/test-icon.html
Due: typos, vscode-biome

use codicons to match vscode expand/collapse icons
  renamify-vscode/biome.jsonc
  renamify-vscode/extension/src/webviewProvider.ts
  renamify-vscode/media/codicon.css
  renamify-vscode/media/codicon.ttf
  renamify-vscode/media/style.css
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
  renamify-vscode/webview/src/webview.ts
Due: typos, vscode-biome, vscode-tsc

fix expand/collapse icons
  renamify-vscode/biome.jsonc
  renamify-vscode/media/codicon.css
Due: none

go to right col position on click match
  renamify-vscode/extension/src/types.ts
  renamify-vscode/extension/src/webviewProvider.ts
  renamify-vscode/webview/src/webview.ts
Due: vscode-biome, vscode-tsc

fixed all highlighting issues in vscode extension
  renamify-vscode/.gitignore
  renamify-vscode/CLAUDE.md
  renamify-vscode/biome.jsonc
  renamify-vscode/extension/src/cliService.ts
  renamify-vscode/extension/src/test/suite/cliService.test.ts
  renamify-vscode/extension/src/webviewProvider.ts
  renamify-vscode/media/style.css
  renamify-vscode/webview/src/formatter.test.ts
  renamify-vscode/webview/src/formatter.ts
  renamify-vscode/webview/src/webview.ts
Due: typos, vscode-biome, vscode-tsc

dev stuff, hbs templates for vscode webviews
  .gitignore
  .vscode/settings.json
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  renamify-vscode/.prettierignore
  renamify-vscode/.prettierrc.json
  renamify-vscode/.vscode/launch.json
  renamify-vscode/.vscode/settings.json
  renamify-vscode/.vscode/tasks.json
  renamify-vscode/extension/src/webviewProvider.ts
  renamify-vscode/extension/templates/splash.hbs
  renamify-vscode/extension/templates/webview.hbs
  renamify-vscode/package.json
  renamify-vscode/pnpm-lock.yaml
  renamify-vscode/webview/src/formatter.test.ts
  renamify-vscode/webview/src/formatter.ts
Due: typos, vscode-biome, vscode-tsc

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  toml-fmt: any of: *.toml
  typos: any of: *.{rs,md,txt,toml,yml,yaml}
  test: any of: *.rs
  mcp-biome: any of: *.{ts,js,json} and ^renamify\-mcp/
  mcp-test: any of: *.ts and ^renamify\-mcp/
  mcp-tsc: any of: *.ts and ^renamify\-mcp/
  vscode-biome: any of: *.{ts,js,json} and ^renamify\-vscode/
  vscode-tsc: any of: *.ts and ^renamify\-vscode/
  shellcheck: any of: *.sh
