Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, test, toml-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      stage_fixed: true
    
    clippy:
      glob: "*.rs" 
      run: cargo clippy --all-targets --all-features
    
    test:
      glob: "*.rs"
      run: cargo test --all
    
    toml-fmt:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true
    
    typos:
      run: typos {staged_files}

pre-push:
  commands:
    test-all:
      run: cargo test --all --release
    
    check-docs:
      run: cargo doc --no-deps --all-features

# Skip lefthook installation on CI
skip_output:
  - meta
  - execution

# Only run on Rust files for performance
only:
  - "*.rs"
  - "*.toml"
  - "*.md"

updates
  Cargo.toml
  clippy.toml
  refaktor-cli/Cargo.toml
  refaktor-core/Cargo.toml
  rust-toolchain.toml
  rustfmt.toml
Due: toml-fmt

"feat: redesign CLI to use OLD NEW [PATH...] pattern
  lefthook.yml
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-core/src/preview.rs
  refaktor-core/tests/snapshots/preview_snapshots__empty_plan_table_snapshot.snap
  refaktor-core/tests/snapshots/preview_snapshots__table_format_snapshot.snap
Due: fmt, clippy, test

added docs site
  .github/workflows/docs.yml
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content.config.ts
  docs/src/content/docs/commands/apply.mdx
  docs/src/content/docs/commands/dry-run.mdx
  docs/src/content/docs/commands/history.mdx
  docs/src/content/docs/commands/init.mdx
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/redo.mdx
  docs/src/content/docs/commands/rename.mdx
  docs/src/content/docs/commands/status.mdx
  docs/src/content/docs/commands/undo.mdx
  docs/src/content/docs/examples/basic-refactoring.mdx
  docs/src/content/docs/examples/project-wide-changes.mdx
  docs/src/content/docs/examples/technology-specific.mdx
  docs/src/content/docs/features/case-transformations.mdx
  docs/src/content/docs/features/file-renaming.mdx
  docs/src/content/docs/features/filtering.mdx
  docs/src/content/docs/features/safety.mdx
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/integration/mcp.mdx
  docs/src/content/docs/integration/vscode.mdx
  docs/src/content/docs/quick-start.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/example.md
  docs/src/content/docs/reference/platform-support.mdx
  docs/tsconfig.json
  lefthook.yml
Due: none

cleaned up test data, fixed multipath support
  .gitignore
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/rename.rs
  refaktor-core/src/scanner.rs
  refaktor-core/tests/compound_position_test.rs
  refaktor-core/tests/preview_snapshots.rs
Due: fmt, clippy, test

fixes and updates
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/assets/case-studies/preview-format-multi-replace-preview-foo.png
  docs/src/assets/case-studies/preview-format-multi-replace-preview-format-foo-bar.png
  docs/src/assets/case-studies/preview-format-multi-replace-result.png
  docs/src/content/docs/case-studies/refactoring-preview-format.mdx
  docs/src/content/docs/commands/apply.mdx
  docs/src/content/docs/commands/dry-run.mdx
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/rename.mdx
  docs/src/content/docs/examples/basic-refactoring.mdx
  docs/src/content/docs/examples/project-wide-changes.mdx
  docs/src/content/docs/examples/technology-specific.mdx
  docs/src/content/docs/features/case-transformations.mdx
  docs/src/content/docs/features/file-renaming.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/quick-start.mdx
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/rename.rs
  refaktor-core/src/scanner.rs
Due: fmt, clippy, test

fixed issues with cases and diff view
  docs/src/content/docs/index.mdx
  refaktor-core/src/preview.rs
  refaktor-core/src/scanner.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/diff_rendering_test.rs
Due: fmt, clippy, test

fix test cases in compound_word_test.rs to avoid using words that i'm trying to replace!
  refaktor-core/tests/compound_word_test.rs
Due: fmt, clippy, test

added config support
  FEATURE_IDEAS.md
  config.toml.example
  docs/src/content/docs/reference/configuration.mdx
  examples/preview_format_rename/plan.json
  examples/preview_format_rename/plan_diff.txt
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-core/Cargo.toml
  refaktor-core/src/config.rs
  refaktor-core/src/lib.rs
Due: fmt, clippy, test, toml-fmt

pnpm for docs
  .github/workflows/docs.yml
Due: none

fix: undo operation now correctly handles files that were both edited and renamed
  refaktor-core/src/undo.rs
Due: fmt, clippy, test

use table format on ci for self test
  .github/workflows/ci.yml
Due: none

no tests pre push
  lefthook.yml
Due: none

trigger docs build
  .github/workflows/docs.yml
Due: none

docs
  docs/astro.config.mjs
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/reference/example.md
Due: none

docs fixes
  docs/src/content/docs/features/case-transformations.mdx
  docs/src/content/docs/features/file-renaming.mdx
  docs/src/content/docs/features/filtering.mdx
  docs/src/content/docs/features/safety.mdx
  docs/src/content/docs/installation.mdx
Due: none

fix: resolve undo issues with affected_files tracking
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-core/src/apply.rs
  refaktor-core/src/undo.rs
  test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test.rs
  test.rs
Due: fmt, clippy, test

feat: reimplement undo/redo with diff-based backups and add .rfignore support
  .rfignore
  CLAUDE.md
  README.md
  refaktor-cli/src/main.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-core/Cargo.toml
  refaktor-core/src/apply.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  refaktor-core/tests/rfignore_test.rs
  test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/test-undo-debug/.gitignore
  test-undo-debug/test-undo-debug/test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test-undo-debug/test.rs
  test-undo-debug/test.rs
  test.rs
Due: fmt, clippy, test, toml-fmt

replace smart_search_and_replace with renamed_refactoring_tool in our tests and doc examples so our e2e demo can work
  DOCUMENTATION.md
  README.md
  docs/src/content/docs/features/case-transformations.mdx
  docs/src/content/docs/features/file-renaming.mdx
  refaktor-core/src/coercion.rs
  refaktor-core/src/preview.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/dot_directory_test.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-core/tests/snapshots/preview_snapshots__root_directory_rename_handling.snap
Due: fmt, clippy, test

improved demo
  .github/workflows/ci.yml
  docs/astro.config.mjs
  docs/src/content/docs/demo.mdx
  docs/src/content/docs/index.mdx
Due: none

improve demo test
  .github/workflows/ci.yml
  refaktor-core/src/apply.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/undo.rs
Due: fmt, clippy, test

fix: respect .gitignore files even outside git repositories
  refaktor-core/src/lib.rs
  refaktor-core/tests/gitignore_test.rs
  refaktor-core/tests/rfignore_test.rs
Due: fmt, clippy, test

fix lots of clippy warnings
  refaktor-core/src/case_model.rs
  refaktor-core/src/coercion.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/config.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/lock.rs
  refaktor-core/src/pattern.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/rename.rs
  refaktor-core/src/scanner.rs
  refaktor-core/src/undo.rs
Due: fmt, clippy, test

fix more clippy warnings
  CLAUDE.md
  lefthook.yml
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-core/src/coercion.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/history.rs
  refaktor-core/src/lock.rs
  refaktor-core/src/pattern.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/rename.rs
  refaktor-core/src/scanner.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/compound_position_test.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/diff_rendering_test.rs
  refaktor-core/tests/dot_directory_test.rs
  refaktor-core/tests/gitignore_test.rs
  refaktor-core/tests/multiple_matches_per_line_test.rs
  refaktor-core/tests/preview_snapshots.rs
Due: fmt, clippy, test

fix: add pragmas to allow too_many_arguments and fix manual_strip warning
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
Due: fmt, clippy, test

docs: add DocSpring support footer to README
  README.md
Due: none

reduce code coverage target for now
  .github/workflows/ci.yml
Due: none

docs: add DocSpring footer to documentation site
  README.md
  docs/astro.config.mjs
  docs/src/components/Footer.astro
Due: none

fix: correct Footer component to properly append content after default footer
  docs/astro.config.mjs
  docs/src/components/Footer.astro
Due: none

self promotion
  README.md
  docs/src/components/Footer.astro
Due: none

help wanted
  README.md
Due: none

Fix compound matching and Original style bugs
  .github/workflows/ci.yml
  docs/src/content/docs/demo.mdx
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/mixed_style_test.rs
Due: fmt, clippy, test

Update CLAUDE.md with CI self-referential testing guidelines
  .rfignore
  CLAUDE.md
Due: none

docs updates
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  README.md
  docs/README.md
  docs/src/content/docs/demo.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
Due: none

delete plan after apply
  refaktor-cli/src/main.rs
  refaktor-cli/tests/cli_tests.rs
Due: fmt, clippy, test

update docs readme
  docs/README.md
Due: none

use --preview-format table in demo
  docs/src/content/docs/demo.mdx
Due: none

one more fix for demo
  docs/src/content/docs/demo.mdx
Due: none

Add comprehensive replacement edge cases test
  refaktor-core/tests/replacement_edge_cases_test.rs
Due: fmt, clippy, test

Fix tests to properly fail and demonstrate replacement bugs
  refaktor-core/tests/replacement_edge_cases_test.rs
Due: fmt, clippy, test

Fix format strings, compound matching, and coercion edge cases
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/pattern.rs
  refaktor-core/src/scanner.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/mixed_style_test.rs
Due: fmt, clippy, test
