Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, toml-fmt, typos, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true

    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -W clippy::pedantic -W clippy::nursery

    toml-fmt:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true

    typos:
      glob: "*.{rs,md,txt,toml,yml,yaml}"
      run: typos {staged_files}

    test:
      glob: "*.rs"
      run: cargo test

# pre-push:
#   commands:
#     test-all:
#       run: cargo test --release

#     check-docs:
#       run: cargo doc --no-deps --all-features

# Skip lefthook installation on CI
skip_output:
  - meta
  - execution

Fix hyphenated capitalized patterns like Refaktor-specific
  refaktor-core/src/compound_matcher.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
Due: fmt, clippy, typos, test

Add Train-Case to default styles for better pattern coverage
  refaktor-core/src/case_model.rs
  refaktor-core/src/scanner.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
Due: fmt, clippy, typos, test

replace test strings with RenamedRefactoringTool
  refaktor-core/tests/hyphenated_capitalized_test.rs
Due: fmt, clippy, typos, test

Fix Train-Case pattern detection and replacement
  refaktor-core/tests/train_case_apply_test.rs
  refaktor-core/tests/train_case_literals_test.rs
Due: fmt, clippy, typos, test

fixed all train case issues and added screaming train case
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/tests/train_case_e2e_test.rs
  refaktor-core/src/apply.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/scanner.rs
Due: fmt, clippy, typos, test

reorder checks - rg first
  .github/workflows/e2e.yml
Due: typos

show counts per variant in table view
  refaktor-core/src/preview.rs
  refaktor-core/tests/snapshots/preview_snapshots__root_directory_rename_handling.snap
  refaktor-core/tests/snapshots/preview_snapshots__table_format_snapshot.snap
  refaktor-core/tests/snapshots/preview_snapshots__table_format_with_color_snapshot.snap
Due: fmt, clippy, typos, test

Add AI-friendly 'summary' preview format
  refaktor-core/src/preview.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-core/tests/snapshots/preview_snapshots__summary_format_snapshot.snap
Due: fmt, clippy, typos, test

Add Refaktor MCP server implementation
  refaktor-mcp/.gitignore
  refaktor-mcp/README.md
  refaktor-mcp/package.json
  refaktor-mcp/src/index.ts
  refaktor-mcp/src/refaktor-service.test.ts
  refaktor-mcp/src/refaktor-service.ts
  refaktor-mcp/src/tools.test.ts
  refaktor-mcp/src/tools.ts
  refaktor-mcp/tsconfig.json
  refaktor-mcp/vitest.config.ts
Due: typos

Simplify MCP documentation and prioritize npx usage
  docs/src/content/docs/index.mdx
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/configuration.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
Due: none

Add Ultracite/Biome linting and update MCP server
  lefthook.yml
  refaktor-mcp/.cursor/rules/ultracite.mdc
  refaktor-mcp/CLAUDE.md
  refaktor-mcp/biome.jsonc
  refaktor-mcp/package.json
  refaktor-mcp/src/index.ts
  refaktor-mcp/src/refaktor-service.test.ts
  refaktor-mcp/src/refaktor-service.ts
  refaktor-mcp/src/tools.test.ts
  refaktor-mcp/src/tools.ts
  refaktor-mcp/tsconfig.json
  refaktor-mcp/vitest.config.ts
Due: typos

Fix MCP README examples to show proper tool usage
  refaktor-mcp/README.md
Due: typos

Add comprehensive MCP Server documentation
  docs/astro.config.mjs
  docs/src/content/docs/index.mdx
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/configuration.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
Due: none

Fix plan ID format in documentation
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
Due: none

don't have homebrew yet
  docs/src/content/docs/installation.mdx
Due: none

Add anchor links to each tool in the Available Tools section
  docs/src/content/docs/mcp/overview.mdx
Due: none

Add GitHub Actions release automation
  .github/workflows/release.yml
  RELEASING.md
  refaktor-mcp/LICENSE
  refaktor-mcp/package.json
  scripts/build-release.sh
Due: typos

Update installation docs with clear copy-paste commands
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/mcp/installation.mdx
Due: none

Remove unnecessary GitHub Pages workflow
  .github/workflows/deploy-install-script.yml
Due: typos

Fix remaining operation ID examples in documentation
  docs/src/content/docs/commands/history.mdx
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/status.mdx
  docs/src/content/docs/mcp/tools.mdx
Due: none

Add user-friendly install script and update docs
  .github/workflows/deploy-install-script.yml
  docs/public/install.sh
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/mcp/installation.mdx
Due: typos

Improve install script with ~/.local/bin as default
  .github/workflows/release.yml
  docs/public/install.sh
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
  refaktor-mcp/RELEASES.md
Due: typos

Change npm package name to @refaktor/mcp-server
  RELEASING.md
  refaktor-mcp/RELEASES.md
  refaktor-mcp/package.json
Due: typos

Fix MCP server TypeScript build errors
  refaktor-mcp/RELEASES.md
  refaktor-mcp/package.json
  refaktor-mcp/src/index.ts
Due: typos

Improve MCP Quick Start with two clear steps
  docs/src/content/docs/mcp/overview.mdx
Due: none

Remove old integration/mcp page
  docs/astro.config.mjs
  docs/src/content/docs/integration/mcp.mdx
  docs/src/content/docs/mcp/installation.mdx
Due: none

Remove cargo install references in MCP docs
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
Due: none

Update MCP server README with current information
  RELEASES.md
  refaktor-mcp/README.md
  refaktor-mcp/package.json
Due: typos

Move VS Code Extension to top-level sidebar item
  docs/astro.config.mjs
  docs/src/content/docs/vscode/overview.mdx
Due: none

improvements to docs
  docs/astro.config.mjs
  docs/src/content/docs/commands/apply.mdx
  docs/src/content/docs/commands/dry-run.mdx
  docs/src/content/docs/commands/history.mdx
  docs/src/content/docs/commands/init.mdx
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/redo.mdx
  docs/src/content/docs/commands/rename.mdx
  docs/src/content/docs/commands/status.mdx
  docs/src/content/docs/commands/undo.mdx
  docs/src/content/docs/examples/basic-refactoring.mdx
  docs/src/content/docs/examples/project-wide-changes.mdx
  docs/src/content/docs/examples/technology-specific.mdx
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/platform-support.mdx
  docs/src/content/docs/vscode/overview.mdx
Due: none

Simplify installation page with one recommended command
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
Due: none

Fix duplicate H1 headers and add Starlight documentation guidelines
  docs/CLAUDE.md
  docs/src/content/docs/examples/project-wide-changes.mdx
  docs/src/content/docs/examples/technology-specific.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/configuration.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
  docs/src/content/docs/reference/configuration.mdx
  docs/src/content/docs/reference/platform-support.mdx
Due: typos

fix formatting
  refaktor-core/src/preview.rs
Due: fmt, clippy, typos, test

fix ci workflows
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
Due: typos

add summary preview format to help text
  refaktor-cli/src/main.rs
Due: fmt, clippy, typos, test

consistent --preview arg, fix biome lint in refaktor-mcp
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/tasks.json
  CLAUDE.md
  DOCUMENTATION.md
  config.toml.example
  docs/src/content/docs/case-studies/refactoring-preview-format.mdx
  docs/src/content/docs/commands/apply.mdx
  docs/src/content/docs/commands/dry-run.mdx
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/demo.mdx
  docs/src/content/docs/examples/project-wide-changes.mdx
  docs/src/content/docs/mcp/ai-guide.mdx
  docs/src/content/docs/mcp/configuration.mdx
  docs/src/content/docs/mcp/examples.mdx
  docs/src/content/docs/mcp/overview.mdx
  docs/src/content/docs/mcp/tools.mdx
  docs/src/content/docs/reference/configuration.mdx
  lefthook.yml
  refaktor-cli/src/main.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-core/src/config.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/preview.rs
  refaktor-core/tests/diff_rendering_test.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-mcp/README.md
  refaktor-mcp/src/index.ts
  refaktor-mcp/src/refaktor-service.test.ts
  refaktor-mcp/src/refaktor-service.ts
  scripts/self-referential-e2e-test.sh
Due: fmt, clippy, typos, test

use shared scripts/e2e-test.sh
  .github/workflows/e2e.yml
  docs/src/content/docs/demo.mdx
  scripts/e2e-test.sh
  scripts/self-referential-e2e-test.sh
Due: typos

fix: correct sequencing for diff-based backups in apply/undo
  refaktor-core/src/apply.rs
  refaktor-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: reorder apply operations to content edits then renames
  refaktor-core/src/apply.rs
  refaktor-core/tests/apply_tests.rs
Due: fmt, clippy, typos, test

fix: handle nested renames (file inside renamed directory)
  refaktor-core/src/apply.rs
  refaktor-core/tests/apply_tests.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test
