Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, toml-fmt, typos, test

fmt:
  run: cargo fmt --all
  stage_fixed: true

clippy:
  run: cargo clippy --all-targets --all-features -- -W clippy::pedantic -W clippy::nursery

toml-fmt:
  run: taplo format {staged_files}
  stage_fixed: true

typos:
  run: typos {staged_files}

test:
  run: cargo test

pnpm approvals
  docs/pnpm-workspace.yaml
  refaktor-mcp/pnpm-workspace.yaml
Due: typos

update docs
  docs/src/content/docs/reference/platform-support.mdx
Due: none

checking in all the important fixes so we don't lose anything
  FEATURE_IDEAS.md
  refaktor-cli/src/apply.rs
  refaktor-cli/src/history.rs
  refaktor-cli/src/main.rs
  refaktor-cli/src/plan.rs
  refaktor-cli/src/redo.rs
  refaktor-cli/src/status.rs
  refaktor-cli/src/undo.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-cli/tests/train_case_e2e_test.rs
  refaktor-core/Cargo.toml
  refaktor-core/src/api.rs
  refaktor-core/src/apply.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/operations/apply.rs
  refaktor-core/src/operations/mod.rs
  refaktor-core/src/operations/plan.rs
  refaktor-core/src/operations/rename.rs
  refaktor-core/src/operations/undo.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  refaktor-core/tests/apply_undo_integration_test.rs
Due: fmt, clippy, toml-fmt, typos, test

finally fixed all the apply / undo / patch / diff bugs
  refaktor-cli/src/apply.rs
  refaktor-cli/src/history.rs
  refaktor-cli/src/main.rs
  refaktor-cli/src/plan.rs
  refaktor-cli/src/redo.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/src/status.rs
  refaktor-cli/src/undo.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-cli/tests/train_case_e2e_test.rs
  refaktor-core/src/api.rs
  refaktor-core/src/apply.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/operations/apply.rs
  refaktor-core/src/operations/mod.rs
  refaktor-core/src/operations/plan.rs
  refaktor-core/src/operations/rename.rs
  refaktor-core/src/operations/undo.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/rename.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

fail with an error if any patches fail to apply
  refaktor-core/src/undo.rs
Due: fmt, clippy, typos, test

save rejected patches
  refaktor-core/src/undo.rs
Due: fmt, clippy, typos, test

Better patch-based undo
  refaktor-core/src/apply.rs
  refaktor-core/src/compound_scanner.rs
  refaktor-core/src/operations/apply.rs
  refaktor-core/src/operations/rename.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/scanner.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  refaktor-core/tests/apply_undo_integration_test.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/compound_position_test.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/diff_rendering_test.rs
  refaktor-core/tests/dot_directory_test.rs
  refaktor-core/tests/gitignore_test.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
  refaktor-core/tests/mixed_style_test.rs
  refaktor-core/tests/multiple_matches_per_line_test.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-core/tests/replacement_edge_cases_test.rs
  refaktor-core/tests/rfignore_test.rs
  refaktor-core/tests/train_case_apply_test.rs
  refaktor-core/tests/train_case_literals_test.rs
Due: fmt, clippy, typos, test

fixed all the patch issues
  refaktor-core/src/apply.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/apply_tests.rs
  refaktor-core/tests/apply_undo_integration_test.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/compound_position_test.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/diff_rendering_test.rs
  refaktor-core/tests/dot_directory_test.rs
  refaktor-core/tests/gitignore_test.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
  refaktor-core/tests/mixed_style_test.rs
  refaktor-core/tests/multiple_matches_per_line_test.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-core/tests/rfignore_test.rs
  refaktor-core/tests/train_case_literals_test.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

added more tests to ensure that undo operations preserve all file permissions
  refaktor-core/src/operations/rename.rs
  refaktor-core/src/preview.rs
  refaktor-core/src/undo.rs
  refaktor-core/tests/train_case_apply_test.rs
Due: fmt, clippy, typos, test

preserve file permissions after apply
  refaktor-core/src/apply.rs
  refaktor-core/src/undo.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

added shared id resolver to handle the id arguments for both undo and redo
  refaktor-core/src/id_resolver.rs
  refaktor-core/src/lib.rs
  refaktor-core/src/operations/undo.rs
Due: fmt, clippy, typos, test

use id resolver for apply as well
  refaktor-cli/src/main.rs
  refaktor-core/src/operations/apply.rs
Due: fmt, clippy, typos, test

remove --plan arg from apply, just use positional arg for both id and plan file
  docs/src/content/docs/commands/apply.mdx
  docs/src/content/docs/demo.mdx
  refaktor-cli/src/apply.rs
  refaktor-cli/src/main.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-core/src/operations/apply.rs
Due: fmt, clippy, typos, test

change the e2e test replace string so we're not using it anywhere else
  scripts/e2e-test.sh
Due: none

rename 'refaktor' in refaktor-cli/tests/train_case_e2e_test.rs to Rename-Tool which shows a mixed case issue with Rename-Tool-CLI.
  refaktor-cli/tests/train_case_e2e_test.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

added acronym support
  refaktor-cli/tests/train_case_e2e_test.rs
  refaktor-core/src/acronym.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/src/lib.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
Due: fmt, clippy, typos, test

many fixes for acronym support - cli flags, acronyms with digits, trie-based matching
  .taskmaster/tasks/tasks.json
  refaktor-cli/src/main.rs
  refaktor-cli/src/plan.rs
  refaktor-cli/src/rename.rs
  refaktor-cli/tests/cli_tests.rs
  refaktor-cli/tests/train_case_e2e_test.rs
  refaktor-core/src/acronym.rs
  refaktor-core/src/case_model.rs
  refaktor-core/src/coercion.rs
  refaktor-core/src/operations/plan.rs
  refaktor-core/src/operations/rename.rs
  refaktor-core/src/scanner.rs
  refaktor-core/tests/acronym_cli_test.rs
  refaktor-core/tests/acronym_variant_test.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/compound_position_test.rs
  refaktor-core/tests/compound_word_test.rs
  refaktor-core/tests/debug_variant_generation.rs
  refaktor-core/tests/diff_rendering_test.rs
  refaktor-core/tests/dot_directory_test.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
  refaktor-core/tests/mixed_style_test.rs
  refaktor-core/tests/multiple_matches_per_line_test.rs
  refaktor-core/tests/performance_test.rs
  refaktor-core/tests/train_case_apply_test.rs
  refaktor-core/tests/train_case_literals_test.rs
Due: fmt, clippy, typos, test

performance fix - only build the default acronym set once and reuse
  refaktor-core/src/acronym.rs
  refaktor-core/src/case_model.rs
  refaktor-core/tests/performance_test.rs
Due: fmt, clippy, typos, test

replace refaktor test cases with a different word
  refaktor-core/tests/hyphenated_capitalized_test.rs
Due: fmt, clippy, typos, test

so close with the e2e test! just one more step
  scripts/e2e-test.sh
Due: none

rename demo to self hosting demo, add an explanation quote
  docs/astro.config.mjs
  docs/src/components/Quote.astro
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting-demo.mdx
Due: none

more cases handled, more tests fixed
  docs/src/content/docs/self-hosting-demo.mdx
  refaktor-core/src/coercion.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/tests/hyphenated_capitalized_test.rs
  refaktor-core/tests/preview_snapshots.rs
  refaktor-core/tests/snapshots/preview_snapshots__root_directory_rename_handling.snap
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

ignore scripts/e2e-test.sh during e2e test
  .rfignore
Due: none

fixed tokenization logic for alphanumeric segments - don't split on number
  refaktor-core/src/acronym.rs
  refaktor-core/src/case_model.rs
  refaktor-core/tests/acronym_variant_test.rs
Due: fmt, clippy, typos, test

add +DEBUG_TOKENIZE=1 info to README
  README.md
Due: typos

added docs page to show how we handle complex edge cases
  docs/astro.config.mjs
  docs/src/content/docs/why-not-search-and-replace.mdx
Due: none

fix ignore list for e2e
  .rfignore
Due: none

fixed next round of edge cases
  refaktor-core/src/case_model.rs
  refaktor-core/src/compound_matcher.rs
  refaktor-core/tests/tokenization_edge_cases_test.rs
Due: fmt, clippy, typos, test

replaced e2e terms in docs/src/content/docs/why-not-search-and-replace.mdx
  docs/src/content/docs/why-not-search-and-replace.mdx
Due: none

fixed more coercion issues
  docs/src/content/docs/self-hosting-demo.mdx
  refaktor-core/src/scanner.rs
  refaktor-core/tests/coercion_separator_test.rs
  refaktor-core/tests/coercion_tests.rs
  refaktor-core/tests/tokenization_edge_cases_test.rs
  refaktor-core/tests/variant_matching_test.rs
  scripts/e2e-test.sh
Due: fmt, clippy, typos, test

self-hosting demo update
  docs/src/content/docs/index.mdx
  docs/src/content/docs/self-hosting-demo.mdx
Due: none

Self-Hosting => Self-Referential
  CLAUDE.md
  docs/README.md
Due: typos

fix e2e test for ubuntu - requires git email/name
  scripts/e2e-test.sh
Due: none

added case study about renaming refaktor to renamify
  docs/src/content/docs/case-studies/renaming-to-renamify.mdx
Due: none

fix ci job names
  .github/workflows/e2e.yml
Due: typos

Fix clippy warnings
  docs/src/content/docs/index.mdx
  renamify-core/src/acronym.rs
  renamify-core/src/apply.rs
  renamify-core/src/operations/rename.rs
Due: fmt, clippy, typos, test

cargo clippy --fix to autofix warnings
  renamify-core/src/apply.rs
  renamify-core/src/case_model.rs
  renamify-core/src/compound_matcher.rs
  renamify-core/src/compound_scanner.rs
  renamify-core/src/id_resolver.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/preview.rs
  renamify-core/src/scanner.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

more clippy fixes
  renamify-cli/src/rename.rs
  renamify-cli/tests/train_case_e2e_test.rs
  renamify-core/src/apply.rs
  renamify-core/src/operations/apply.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/preview.rs
  renamify-core/src/undo.rs
  renamify-core/tests/train_case_literals_test.rs
Due: fmt, clippy, typos, test

fixed all clippy warnings and tests
  .cargo/config.toml
  .github/workflows/ci.yml
  clippy.toml
  lefthook.yml
  renamify-cli/src/apply.rs
  renamify-cli/src/plan.rs
  renamify-cli/tests/cli_tests.rs
  renamify-core/src/apply.rs
  renamify-core/src/case_model.rs
  renamify-core/src/compound_matcher.rs
  renamify-core/src/operations/plan.rs
  renamify-core/src/operations/rename.rs
  renamify-core/src/undo.rs
  renamify-core/tests/acronym_cli_test.rs
  renamify-core/tests/acronym_variant_test.rs
  renamify-core/tests/hyphenated_capitalized_test.rs
  renamify-core/tests/mixed_style_test.rs
  renamify-core/tests/train_case_literals_test.rs
Due: fmt, clippy, toml-fmt, typos, test

Path conditions:
  fmt: any of: *.rs
  clippy: any of: *.rs
  toml-fmt: any of: *.toml
  typos: any of: *.{rs,md,txt,toml,yml,yaml}
  test: any of: *.rs
