Repository DocSpring/renamify: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, clippy, toml-fmt, typos, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt:
      glob: "*.rs"
      run: cargo fmt --all
      stage_fixed: true

    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -W clippy::pedantic -W clippy::nursery

    toml-fmt:
      glob: "*.toml"
      run: taplo format {staged_files}
      stage_fixed: true

    typos:
      glob: "*.{rs,md,txt,toml,yml,yaml}"
      run: typos {staged_files}

    test:
      glob: "*.rs"
      run: cargo test

# pre-push:
#   commands:
#     test-all:
#       run: cargo test --release

#     check-docs:
#       run: cargo doc --no-deps --all-features

# Skip lefthook installation on CI
skip_output:
  - meta
  - execution

fix e2e
  .gitignore
  scripts/e2e-test.sh
Due: none

todo - fix code coverage recording
  .github/workflows/ci.yml
Due: typos

fix code coverage
  .github/workflows/ci.yml
Due: typos

fix docs ci
  .github/workflows/docs.yml
Due: typos

add install script to install renamify to ~/.cargo/bin
  install.sh
  renamify-cli/Cargo.toml
Due: toml-fmt, typos

fix mcp server
  lefthook.yml
  renamify-mcp/biome.jsonc
  renamify-mcp/package.json
  renamify-mcp/src/index.test.ts
  renamify-mcp/src/index.ts
Due: typos

make id optional for mcp server undo/redo commands
  renamify-mcp/src/index.ts
Due: none

added mcp ci config, upgrade all packages
  .github/workflows/mcp.yml
  lefthook.yml
  renamify-mcp/RELEASES.md
  renamify-mcp/biome.jsonc
  renamify-mcp/package.json
  renamify-mcp/src/renamify-service.ts
  renamify-mcp/src/tools.ts
  renamify-mcp/vitest.config.ts
Due: typos

more updates to mcp server
  CLAUDE.md
  renamify-mcp/src/index.ts
  renamify-mcp/src/renamify-service.ts
Due: typos

use pnpm in examples
  .github/workflows/release.yml
  RELEASES.md
  renamify-mcp/RELEASES.md
Due: typos

update docs
  .taskmaster/tasks/tasks.json
  docs/src/content/docs/commands/plan.mdx
  docs/src/content/docs/commands/rename.mdx
  docs/src/content/docs/commands/undo.mdx
  docs/src/content/docs/mcp/tools.mdx
  renamify-cli/src/main.rs
  renamify-core/src/lib.rs
Due: fmt, clippy, typos, test

fix .github/workflows/mcp.yml
  .github/workflows/mcp.yml
Due: typos

run pnpm install --frozen-lockfile --ignore-workspace
  .github/workflows/mcp.yml
  renamify-mcp/biome.jsonc
  renamify-mcp/src/index.ts
  renamify-mcp/src/index.unit.test.ts
  renamify-mcp/src/renamify-service.error.test.ts
  renamify-mcp/src/tools.error.test.ts
  renamify-mcp/tsconfig.json
Due: typos

another ci fix
  .github/workflows/mcp.yml
Due: typos

fix .github/workflows/mcp.yml - add renamify-mcp/pnpm-lock.yaml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/mcp.yml
  .github/workflows/release.yml
  renamify-mcp/.gitignore
  renamify-mcp/pnpm-lock.yaml
Due: typos

cd renamify-mcp &&
  .github/workflows/docs.yml
  .github/workflows/mcp.yml
Due: typos

fix renamify-mcp/pnpm-workspace.yaml
  renamify-mcp/pnpm-workspace.yaml
Due: typos

fix .github/workflows/mcp.yml
  .github/workflows/mcp.yml
  renamify-mcp/src/index.test.ts
Due: typos

fix line endings issue with biome check on windows
  .github/workflows/mcp.yml
Due: typos

make docs wait for mcp tests
  .github/workflows/docs.yml
  .github/workflows/mcp.yml
Due: typos

don't run biome check on windows
  .github/workflows/mcp.yml
Due: typos

fix task killing on windows mcp integration test
  renamify-mcp/src/index.test.ts
Due: none

fix mcp server on windows
  renamify-mcp/src/index.ts
Due: none

fix biome format
  renamify-mcp/src/index.ts
Due: none

run ci and e2e on windows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: typos

don't run clippy or cargo fmt on windows
  .github/workflows/ci.yml
Due: typos

try run e2e on windows with git bash
  .github/workflows/e2e.yml
Due: typos

fix tests on windows using &path_str elper
  renamify-cli/tests/cli_tests.rs
Due: fmt, clippy, typos, test

fix: Handle Windows long path prefixes in patches
  docs/src/content/docs/index.mdx
  renamify-core/src/acronym.rs
  renamify-core/src/apply.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

added FAQ
  docs/astro.config.mjs
  docs/src/content/docs/index.mdx
Due: none

fix: Resolve Windows compilation error with lifetime issue
  renamify-core/src/apply.rs
Due: fmt, clippy, typos, test

fix: Complete Windows path handling for patches
  docs/src/content/docs/index.mdx
  docs/src/content/docs/installation.mdx
  docs/src/content/docs/mcp/installation.mdx
  docs/src/content/docs/reference/platform-support.mdx
  renamify-core/src/apply.rs
  renamify-core/tests/apply_tests.rs
Due: fmt, clippy, typos, test

fix: Correct Windows long path prefix handling
  renamify-core/src/apply.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test

fix: More robust Windows path prefix handling
  renamify-core/src/apply.rs
Due: fmt, clippy, typos, test

Add Windows debug output to trace path prefix issue
  renamify-core/src/apply.rs
  test_windows_prefix.rs
  test_windows_prefix2.rs
Due: fmt, clippy, typos, test

fix: Strip Windows long path prefix from all stored paths
  renamify-core/src/compound_scanner.rs
  renamify-core/src/rename.rs
  renamify-core/src/scanner.rs
Due: fmt, clippy, typos, test

fix: Use forward slashes in patch headers on Windows
  renamify-core/src/apply.rs
Due: fmt, clippy, typos, test

chore: Remove debug output now that Windows issues are fixed
  renamify-core/src/apply.rs
  test_windows_prefix.rs
  test_windows_prefix2.rs
Due: fmt, clippy, typos, test

fix: Preserve trailing newlines in patches and use forward slashes in diff output
  renamify-core/src/preview.rs
  renamify-core/src/undo.rs
Due: fmt, clippy, typos, test
